<div class="mt-2 ">
  <ul class="list-group" *ngFor="let question of questions?.reverse(); let i = index" [attr.data-index]="i">
    <a *ngIf="question.displayed==true || author==true">
      {{showAnswers(question.idQuestion)}}
      <mat-accordion>
        <mat-expansion-panel [expanded]="author==false" class="mt-2 mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-left" >
              {{ question.content}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="author==true">
            <app-answers [question]="question" [author]="author" [color]="i"></app-answers>
</div>
          <div *ngIf="author==false">
              <app-answer-question [author]="author" [question]="question" [color]="i"></app-answer-question>
          </div>
          <mat-action-row *ngIf="author==true">
            <section>
              <mat-checkbox class="mr-2" (change)="displayQuestionPublic(question.idQuestion)">Zobraziť otázku všetkým</mat-checkbox>
              <mat-checkbox class="mr-2" (change)="displayAnswersPublic(question.idQuestion)">Zobraziť odpovede všetkým</mat-checkbox>
            </section>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </a>
    <!--<div *ngIf="(displayedAnswers[question.idQuestion]==true && author==true) ||
     (displayedAnswersPublic[question.idQuestion]==true && author==false)">-->
  </ul>
</div>


