ul:nth-child(5n+1) mat-expansion-panel {
  background-color: rgba(83,179,255,0.3);
}
ul:nth-child(5n+2) mat-expansion-panel {
  background-color: rgba(16, 255, 218, 0.3);
}
ul:nth-child(5n+3) mat-expansion-panel {
  background-color: rgba(255,78,65,0.3);
}
ul:nth-child(5n+4) mat-expansion-panel {
  background-color: rgba(235,112,177,0.3);
}
ul:nth-child(5n+5) mat-expansion-panel {
  background-color: rgba(112,234,80,0.3);
}

mat-checkbox-layout {
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  mat-panel-title, mat-checkbox {
    font-size: smaller;
  }
}

@media screen and (max-width: 600px) {
  mat-panel-title, mat-checkbox {
    font-size: small;
  }
}

@media screen and (max-width: 400px) {
  mat-panel-title, mat-checkbox {
    font-size: x-small;
  }
}

@media screen and (max-width: 300px) {
  mat-panel-title, mat-checkbox {
    font-size: xx-small;
  }
}
