<div *ngIf="question.type==0 && author==false">
    <ul class="list-group">
      <li class="list-group-item border-secondary ml-5 mr-5 mt-2 mb-2 display-6 myAnswer"
          [style.background-color]="getBackgroundColor(color+1)">
          <form [formGroup]="myForm" (change)="onSubmit()">
            <div class="row">
              <div class="col-12">
                <mat-form-field  color="accent" class="full-width-form mt-2 mb-0">
                  <mat-label>Odpoveď</mat-label>
                  <textarea matInput type="text" formControlName="content"
                            placeholder="Napíšte niečo..." ></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
      </li>
    </ul>
</div>

<div *ngIf="question.type==1 && author==false">
        <form>
          <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
            <mat-card-content>
          <mat-radio-group>
            <mat-radio-button *ngFor="let answer of question.optionalAnswers" class="row d-flex ml-1 mt-1" value="{{ answer }}">{{ answer }}</mat-radio-button>
          </mat-radio-group>
            </mat-card-content>
          </mat-card>
        </form>
</div>

<div *ngIf="question.type==2 && author==false">
  <form>
    <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
      <mat-card-content>
        <section class="example-section">
          <mat-checkbox *ngFor="let answer of question.optionalAnswers;" class="ml-1 mt-1 d-flex" value="{{ answer }}">{{ answer }}</mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
  </form>
</div>

<div *ngIf="question.type==3 && author==false">
  <form>
    <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
      <mat-card-content>
        <mat-slider class="full-width-form"
          [max]="question.optionalAnswers[1]"
          [min]="question.optionalAnswers[0]"
          [step]="question.optionalAnswers[2]"
          [thumbLabel]="true"
          [(value)]="sliderValue">
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </form>
</div>


<button *ngIf="author==false" type="submit" mat-raised-button class="bg-warning m-3">Odoslať</button>
