<div class="container bg-light text-center">
  <div class="row">
    <div class="col-lg-12">
      <section>
        <mat-button-toggle-group *ngIf="author==true" class="mt-3" value="all">
          <mat-button-toggle (click)="newQuestion()" value="new"><i class="fas fa-plus"></i> Otázka</mat-button-toggle>
          <mat-button-toggle (click)="showQuestions()" value="all"><i class="fas fa-list-ol"></i> Otázky a odpovede
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>
    <div class="col-lg-12">
      <div *ngIf="displayed=='question' && author==true">
        <app-create-poll (submit)="showQuestions()"></app-create-poll>
      </div>

      <div *ngIf="displayed=='questionList'">
        <app-questions [author]="author"></app-questions>
      </div>
    </div>
  </div>
</div>
