<div *ngIf="question.type==0">
  <div>
    <cdk-virtual-scroll-viewport itemSize="">
      <ul class="list-group" *cdkVirtualFor="let answer of answers">
        <div *ngIf="author==true">
          <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
            <mat-card-content class="d-flex">
              <div>
                {{ answer.content }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </ul>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<div *ngIf="question.type==1 || question.type==2">
  <div>
    <ul class="list-group" *ngFor="let answer of question.optionalAnswers">
      <div *ngIf="author==true">
        {{showCount(answer)}}
            <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
              <mat-card-content class="d-flex justify-content-between">
                <div>
                  {{ answer }}
                </div>
                <div><b>{{ answersCount }}</b></div>
              </mat-card-content>
            </mat-card>
        <div class="progress ml-2 mr-2">
          <div class="progress-bar bg-warning" role="progressbar"
               [style.width.%]="(answersCount / answers.length)*100" >{{(answersCount / answers.length) | percent}}</div>
        </div>
      </div>
    </ul>
  </div>
</div>

<div *ngIf="question.type==3">
  <div>
    <ul class="list-group" *ngFor="let num of sliderAnswers()">
      {{showCountSlider(num)}}
      <div *ngIf="author==true && answersCount!=0">
        <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
          <mat-card-content class="d-flex justify-content-between">
            <div>
              {{ num }}
            </div>
            <div><b>{{ answersCount }}</b></div>
          </mat-card-content>
        </mat-card>
        <div class="progress ml-2 mr-2">
          <div class="progress-bar bg-warning" role="progressbar"
               [style.width.%]="(answersCount / answers.length)*100" >{{(answersCount / answers.length) | percent}}</div>
        </div>
      </div>
    </ul>
  </div>
</div>
