<div *ngIf="question.type==0">
  <div>
    <ul class="list-group" *ngFor="let answer of answers">
      <div *ngIf="author==true">
          <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
            <mat-card-content class="d-flex">
              <div>
                {{ answer.content }}
              </div>
            </mat-card-content>
          </mat-card>
      </div>
    </ul>
  </div>
</div>
<div *ngIf="question.type!=0">
  <div>
    <ul class="list-group" *ngFor="let answer of question.optionalAnswers">
      <div *ngIf="author==true">
        {{showCount(answer)}}
            <mat-card class="m-2" [style.background-color]="getBackgroundColor(color+1)">
              <mat-card-content class="d-flex justify-content-between">
                <div>
                  {{ answer }}
                </div>
                <div><b>{{ answersCount }}</b></div>
              </mat-card-content>
            </mat-card>
          <div class="ml-2 mr-2">
            <div [style.width.%]="(answersCount / answers.length)*100" class="bg-warning">
              {{(answersCount / answers.length) | percent}}
            </div>
          </div>
        </div>
    </ul>
  </div>
</div>
