.cdk-virtual-scroll-viewport{
  height: 400px;
}

@media screen and (max-width: 800px) {
  mat-card-content {
    font-size: smaller;
  }
}

@media screen and (max-width: 600px) {
  mat-card-content {
    font-size: small;
  }
}

@media screen and (max-width: 400px) {
  mat-card-content {
    font-size: x-small;
  }
}

@media screen and (max-width: 300px) {
  mat-card-content {
    font-size: xx-small;
  }
}
