<div class="full-height" style="background-color: #ffd500">
  <div class="centered text-center">
    <div class="d-flex justify-content-between">
      <p class="mat-display-1 mt-2 ml-3 text-white" style="font-weight: lighter">askFRI
      </p>
      <button mat-icon-button routerLink="/home" class="text-white mr-3 mt-2">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="mat-display-1 mb-1 text-secondary" style="font-weight: lighter; margin-top: 9%">Názov miestnosti
    </p>
    <h1 class="mat-display-2 mb-4 text-white" style="font-weight: lighter">{{roomName}}</h1>
    <p class="text-secondary mb-1 mat-display-1 " style="font-weight: lighter; font-size: xx-large">Prístupový kód
    </p>
    <h1 class="mat-display-4 mb-1 text-white" style="font-weight: lighter">{{roomPasscode}}</h1>
  </div>
</div>

