<div class="container bg-light text-center">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="createQuestionForm" (ngSubmit)="onSubmit()">
        <div class="form-group d-flex justify-content-center">
          <div class="container my-form-container">
            <div class="row">
              <mat-form-field class="full-width-form" color="accent">
                <mat-label>Vyberte typ otázky</mat-label>
                <mat-select #mySelect formControlName="questionType" [(value)]="selectedType">
                  <mat-option value="0">Otvorená otázka</mat-option>
                  <mat-option value="1">Výber jednej možnosti</mat-option>
                  <mat-option value="2">Výber viacerých možností</mat-option>
                  <mat-option value="3">Posúvač</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width-form mt-2" color="accent">
                <mat-label>Otázka</mat-label>
                <input matInput id="content" type="text" formControlName="content"
                       placeholder="Napíšte niečo...">
              </mat-form-field>
            </div>

            <div *ngIf="selectedType==1 || selectedType==2">
              <mat-form-field class="full-width-form mt-2" color="accent">
                <mat-label>Odpovede</mat-label>
                <mat-chip-list #chipList class="mat-chip-list-stacked" aria-label="select">
                  <mat-chip *ngFor="let answer of optionalAnswers" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(answer)" style="width: fit-content">
                    {{answer.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
                <input matInput class="full-width-form" type="text" placeholder="Napíšte niečo..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
                <mat-hint>Stlačením tlačidla enter vytvoríte odpoveď</mat-hint>
              </mat-form-field>
            </div>

            <div *ngIf="selectedType==3">
              <div class="row d-flex mb-2">
                <section>
                  <mat-form-field color="accent">
                    <mat-label>Minimálna hodnota</mat-label>
                    <input matInput type="number"  [(value)]="min">
                  </mat-form-field>
                  <mat-form-field color="accent">
                    <mat-label>Maximálna hondota</mat-label>
                    <input matInput type="number" [(value)]="max">
                  </mat-form-field>
                  <mat-form-field color="accent">
                    <mat-label>Veľkosť kroku</mat-label>
                    <input matInput type="number" [(value)]="step">
                  </mat-form-field>
                </section>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-warning m-3">Vytvoriť</button>
      </form>
    </div>
  </div>
</div>
