<div class="container bg-light text-center">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="createQuestionForm" (ngSubmit)="onSubmit()">
        <div class="form-group d-flex justify-content-center">
          <div class="container my-form-container">
            <div class="row">
              <mat-form-field class="full-width-form" color="accent">
                <mat-label>Vyberte typ otázky</mat-label>
                <mat-select formControlName="questionType" [(value)]="selectedType">
                  <mat-option value="0">Otvorená otázka</mat-option>
                  <mat-option value="1">Výber jednej možnosti</mat-option>
                  <mat-option value="2">Výber viacerých možností</mat-option>
                  <mat-option value="3">Posúvač</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width-form mt-2" color="accent">
                <mat-label>Otázka</mat-label>
                <input matInput id="content" type="text" formControlName="content"
                       placeholder="Napíšte niečo...">
                <mat-hint
                  *ngIf="!(createQuestionForm.get('content').pristine) || createQuestionForm.get('content').touched"
                  class="text-danger">
                  <p *ngIf="createQuestionForm.get('content').errors?.required">
                    Zadajte otázku
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>

            <div *ngIf="selectedType==1 || selectedType==2">
              <mat-form-field class="full-width-form mt-2" color="accent" required>
                <mat-label>Odpovede</mat-label>
                <mat-chip-list #chipList class="mat-chip-list-stacked" aria-label="select">
                  <mat-chip *ngFor="let answer of optionalAnswers" [selectable]="true"
                            [removable]="true" (removed)="remove(answer)" style="width: fit-content">
                    {{answer.name}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
                <input matInput class="full-width-form" type="text" placeholder="Napíšte niečo..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="add($event)">
                <mat-hint>Stlačením tlačidla enter vytvoríte odpoveď</mat-hint>
              </mat-form-field>
            </div>

            <div *ngIf="selectedType==3">
              <div class="row d-flex mb-2">
                <section>
                  <form [formGroup]="_sliderForm">
                    <mat-form-field color="accent" class="mb-2">
                      <mat-label>Minimálna hodnota</mat-label>
                      <input matInput type="number" (value)="_min" formControlName="min">
                      <mat-hint *ngIf="!(sliderForm.get('min').pristine) || sliderForm.get('min').touched"
                                class="text-danger">
                        <p *ngIf="sliderForm.get('min').value >= sliderForm.get('max').value">
                          Minimum nemôže byť väčšie alebo rovné ako maximum
                        </p>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field color="accent" class="mb-2">
                      <mat-label>Maximálna hondota</mat-label>
                      <input matInput type="number" (value)="_max" formControlName="max">
                      <mat-hint *ngIf="!(sliderForm.get('max').pristine) || sliderForm.get('max').touched"
                                class="text-danger">
                        <p *ngIf="sliderForm.get('min').value >= sliderForm.get('max').value">
                          Maximum nemôže byť menšie alebo rovné ako minimum
                        </p>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field color="accent" class="mb-2">
                      <mat-label>Veľkosť kroku</mat-label>
                      <input matInput type="number" (value)="_step" formControlName="step">
                      <mat-hint *ngIf="!(sliderForm.get('step').pristine) || sliderForm.get('step').touched"
                                class="text-danger">
                        <p *ngIf="getSliderFormStepValidation() !== 0 ">
                          Táto veľkosť kroku pri zadanom minime a maxime nie je povolená
                        </p>
                      </mat-hint>
                    </mat-form-field>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="(createQuestionForm.get('questionType').errors?.required ||
        createQuestionForm.get('content').errors?.required) ||
        (createQuestionForm.get('questionType').value === '2' && optionalAnswers.length === 0) ||
        (createQuestionForm.get('questionType').value === '1' && optionalAnswers.length === 0) ||
        ((createQuestionForm.get('questionType').value === '3' && ((sliderForm.get('min').value === null) ||
          sliderForm.get('max').value === null || sliderForm.get('step').value === null)) ||
          (sliderForm.get('min').value >= sliderForm.get('max').value) || getSliderFormStepValidation() !== 0 )"
                type="submit" mat-raised-button color="accent" class="m-3">Vytvoriť
        </button>
      </form>
    </div>
  </div>
</div>
