<app-navbar [participant]="0"></app-navbar>
<div class="container bg-light text-center">
  <div class="row">
    <div class="col-12">
      <hr class="my-2">
      <h1 class="mat-display-1 mt-3 mb-1 text-dark">Registrácia</h1>
      <hr class="my-2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="getsignUpForm()" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-center">
          <div class="container my-form-container">
            <div class="row">
              <div class="col-6 pl-0 pr-1">
                <mat-form-field color="accent" class=" full-width-form mt-2">
                  <mat-label>Meno</mat-label>
                  <input matInput type="text" formControlName="name">
                  <mat-hint *ngIf="getsignUpForm().get('name').touched || !(getsignUpForm().get('name').pristine)">
                    <mat-hint *ngIf="!(getsignUpForm().get('name').errors?.required) &&
                     !(getsignUpForm().get('name').errors?.minlength) &&
                     getsignUpForm().get('name').errors?.forbiddenRegex"
                              class="text-danger">Meno môže obsahovať len písmená
                    </mat-hint>
                    <mat-hint *ngIf="getsignUpForm().get('name').errors?.minlength" class="text-danger">Meno musí mať
                      aspoň 2 znaky
                    </mat-hint>
                    <mat-hint *ngIf="getsignUpForm().get('name').errors?.required" class="text-danger">Zadajte meno
                    </mat-hint>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-6 pl-1 pr-0">
                <mat-form-field color="accent" class=" full-width-form mt-2">
                  <mat-label>Priezvisko</mat-label>
                  <input matInput type="text" formControlName="surname">
                  <mat-hint *ngIf="getsignUpForm().get('surname').touched || !(getsignUpForm().get('surname').pristine)">
                    <mat-hint *ngIf="!(getsignUpForm().get('surname').errors?.required) &&
                     !(getsignUpForm().get('surname').errors?.minlength) &&
                    getsignUpForm().get('surname').errors?.forbiddenRegex"
                              class="text-danger">Priezvisko môže obsahovať len písmená
                    </mat-hint>
                    <mat-hint *ngIf="getsignUpForm().get('surname').errors?.minlength" class="text-danger">Priezvisko
                      musí mať aspoň 2 znaky
                    </mat-hint>
                    <mat-hint *ngIf="getsignUpForm().get('surname').errors?.required" class="text-danger">Zadajte
                      priezvisko
                    </mat-hint>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <mat-form-field color="accent" class=" full-width-form mt-2">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="email@example.sk">
                <mat-hint *ngIf="getsignUpForm().get('email').touched || !(getsignUpForm().get('email').pristine)">
                  <mat-hint *ngIf="!(getsignUpForm().get('email').errors?.required) &&
                  !(getsignUpForm().get('email').errors?.minlength) &&
                getsignUpForm().get('email').errors?.forbiddenRegex"
                            class="text-danger">Tento email nie je podporovaný
                  </mat-hint>
                  <mat-hint *ngIf="getsignUpForm().get('email').errors?.minlength" class="text-danger">Email musí mať
                    aspoň 7 znakov
                  </mat-hint>
                  <mat-hint *ngIf="getsignUpForm().get('email').errors?.required" class="text-danger">Zadajte email
                  </mat-hint>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field color="accent" class=" full-width-form mt-2 mb-3">
                <mat-label>Heslo</mat-label>
                <input matInput type="password" formControlName="password"
                       placeholder="********">
                <mat-hint
                  [class.d-none]="!(getsignUpForm().get('password').pristine) || getsignUpForm().get('password').touched">
                  Heslo musí obsahovať aspoň 1 veľké písmeno, aspoň 1 malé písmeno a aspoň 1 číslo.
                </mat-hint>
                <mat-hint
                  *ngIf="getsignUpForm().get('password').touched || !(getsignUpForm().get('password').pristine) ">
                  <mat-hint *ngIf="getsignUpForm().get('password').errors?.minlength" class="text-danger">Heslo musí mať
                    aspoň 8 znakov.
                  </mat-hint>
                  <mat-hint *ngIf="!(getsignUpForm().get('password').errors?.required) &&
                   !(getsignUpForm().get('password').errors?.minlength) &&
                   getsignUpForm().get('password').errors?.forbiddenRegex"
                            class="text-danger"> Heslo musí obsahovať aspoň 1 veľké písmeno, aspoň 1 malé písmeno a
                    aspoň 1 číslo.
                  </mat-hint>
                  <mat-hint *ngIf="getsignUpForm().get('password').errors?.required" class="text-danger">Zadajte heslo
                  </mat-hint>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button [disabled]="getsignUpForm().get('name').errors?.required ||
                            getsignUpForm().get('surname').errors?.required ||
                            getsignUpForm().get('email').errors?.required ||
                            getsignUpForm().get('password').errors?.required"
                type="submit" mat-raised-button class="text-white bg-warning mb-3">Registrovať
        </button>
      </form>
    </div>
  </div>
</div>

