<div class="container bg-light text-center">
  <div class="row">
    <div class="col-lg-12">
      <hr class="my-2">
      <h1 class="mat-display-2 mt-3 mb-1 text-dark">Prehľad</h1>
      <hr class="my-2">
    </div>
    <div class="col-lg-12">
      <mat-accordion>
        <div *ngFor="let room of rooms" class="d-flex">
          <div class="col-11 p-0 myMargin">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="myTitle text-left">
                  <div class="myOverflow">
                    {{ room.roomName }}
                  </div>
                  <div class="passcode myOverflow text-left">
                    | {{ room.roomPasscode }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-action-row class="d-flex justify-content-between pl-0 pr-0 pm-1 pb-2">
                <button color="accent" mat-button (click)="enterRoom(room.idRoom)">Vstúpiť</button>
                <button color="primary" mat-button routerLink="/info/{{room.roomName}}/{{room.roomPasscode}}">Prístup</button>
                <button color="warn" mat-button class="mr-2" (click)="openDeleteDialog(room.idRoom)">Vymazať</button>
              </mat-action-row>
            </mat-expansion-panel>
          </div>
          <div class="col-1 p-0 mt-1">
            <mat-slide-toggle class="mr-2 mt-3" [checked]="room.active" #reactivateRoom
                              (change)="isPasscodeUsed(reactivateRoom.checked,room.roomPasscode, $event, room.idRoom)"></mat-slide-toggle>
          </div>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
